<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/application.css') }}">
    <title>About</title>
</head>

<body>

    <div class="sidebar">
        <a href="/">Home</a>
        <a class="active" href="/about">About</a>
    </div>

    <div class="content">
        <h2>About this application</h2>
        <p>This application is a basic webapp that uses Flask web server provided to dynamically load and display a pdf. PDF is embedded into the web page using PDF.JS</p>
    </div>

</body>

</html>