<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/application.css') }}">
    <link href="//mozilla.github.io/pdf.js/web/viewer.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Home</title>
</head>

<body>

    <div class="sidebar">
        <a class="active" href="/">Home</a>
        <a href="/about">About</a>
    </div>

    <div class="content">
        <br>
        <h2>Simple PDF Viewer</h2>
        <br>
        <p>PDF Viewer embedded into a webpage</p>
        <br>

        <div class="pagination">
            <div class="dropdown">
                <button onclick="clickDropdown()" class="dropbtn">
                    Select PDF <i class="fas fa-caret-down"></i>
                </button>
                <div id="myDropdown" class="dropdown-content">
                    {%for i in range(0, len)%}
                    <a onclick="setURL('{{files[i]}}')">{{files[i]}}</a> {%endfor%}
                </div>
            </div>

            <button class="btn" id="prev-page">
                    <i class="fas fa-arrow-circle-left"></i> Prev Page
                </button>
            <button class="btn" id="next-page">
                    Next Page <i class="fas fa-arrow-circle-right"></i>
                </button>
            <span class="page-info">
                    Page <span id="page-num"></span> of <span id="page-count"></span>
            </span>
        </div>

        <div id="container">
            <canvas id="pdf-render"></canvas>
            <div class="textLayer"></div>
        </div>
    </div>

    <script type="text/javascript">
        var initial_file = '{{ files[0] }}'
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.8.335/pdf.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/application.js') }}"></script>
</body>

</html>